/* diem-thanh-vien
 -----------------------------------------------------*/
.page-diem-thanh-vien {
  padding: 0px 0px 3vw;
  background: url(../images/diem-thanh-vien/bg-desktop.jpg) no-repeat top center;
  -webkit-background-size: cover;
          background-size: cover;
}
.page-diem-thanh-vien .text-lgs {
  margin: 15vw 0px 9vw 48%;
  width: 35%;
  display: inline-block;
}
.page-diem-thanh-vien .text-lgs p {
  font-size: 2.9vw;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}
.page-diem-thanh-vien .text-lgs p span.hl {
  font-size: 3.6vw;
  display: block;
}
@media screen and (max-width: 768px) {
  .page-diem-thanh-vien {
    background: url(../images/diem-thanh-vien/bg-mb.jpg) no-repeat top center;
    -webkit-background-size: cover;
            background-size: cover;
    padding: 0px 0px 9vw;
  }
  .page-diem-thanh-vien .h-container {
    width: 96%;
  }
  .page-diem-thanh-vien .text-lgs {
    width: 43%;
    margin: 20vw 0px 9vw 58%;
  }
  .page-diem-thanh-vien .text-lgs p {
    text-align: left;
    font-size: 6.3vw;
    line-height: 1.2em;
  }
  .page-diem-thanh-vien .text-lgs p span {
    display: block;
  }
  .page-diem-thanh-vien .text-lgs p span.hl {
    font-size: 5vw;
  }
}

.blk-tich-diem .nav-tabs {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.blk-tich-diem .nav-tabs li a {
  padding: 0.3vw 1.5vw;
  display: block;
  background: #FFF;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  font-family: "UTMBebas", sans-serif;
  font-size: 1.8vw;
}
.blk-tich-diem .nav-tabs li a.active {
  color: #f4aa1c;
}
@media screen and (max-width: 768px) {
  .blk-tich-diem .nav-tabs {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .blk-tich-diem .nav-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .blk-tich-diem .nav-tabs li a {
    font-size: -webkit-calc(3.2vw + 0px);
    font-size: calc(3.2vw + 0px);
    text-align: center;
  }
}
.blk-tich-diem .tab-pane {
  display: block;
  height: 0;
  width: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.blk-tich-diem .tab-pane.active {
  position: relative;
  height: auto;
  opacity: 1;
  width: auto;
  display: block;
  overflow: initial;
}
.blk-tich-diem .tab-pane {
  padding: 4vw 5vw 4vw 5vw;
  background: #FFF;
}
@media screen and (max-width: 768px) {
  .blk-tich-diem .tab-pane {
    padding: 4vw 5vw 4vw 5vw;
  }
}
.blk-tich-diem .tab-ct-1 .top-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 1.5vw;
}
.blk-tich-diem .tab-ct-1 .top-meta .name {
  font-family: "UTMBebas", sans-serif;
  font-size: 2.5vw;
}
.blk-tich-diem .tab-ct-1 .top-meta .text-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.blk-tich-diem .tab-ct-1 .top-meta .text-right a {
  display: block;
}
.blk-tich-diem .tab-ct-1 .top-meta .text-right .icon {
  width: 1.2vw;
}
.blk-tich-diem .tab-ct-1 .top-meta .text-right .icon img {
  width: 100%;
}
.blk-tich-diem .tab-ct-1 .top-meta .text-right .text {
  padding-left: 0.3vw;
  font-family: "UTMBebas", sans-serif;
}
.blk-tich-diem .tab-ct-1 .top-meta .text-right .text a {
  color: #7d7d7d;
}
.blk-tich-diem .tab-ct-1 .form-tich-diem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blk-tich-diem .tab-ct-1 .form-tich-diem .item {
  width: 48.5%;
  position: relative;
  margin: 0px 0px 1.4vw;
}
.blk-tich-diem .tab-ct-1 .form-tich-diem .item label {
  position: absolute;
  background: #f4aa1c;
  top: -49%;
  left: 1.3vw;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
       -o-transform: translateY(50%);
          transform: translateY(50%);
  line-height: 1.1em;
  display: inline-block;
  padding: 0.1vw 0.5vw 0.2vw 0.5vw;
  border-radius: 0.8em;
}
.blk-tich-diem .tab-ct-1 .form-tich-diem .item .input-text {
  border: 1px solid #191919;
  width: 100%;
  height: 3em;
  padding: 0px 1vw;
  font-family: "SVN-GothamBold";
}
.blk-tich-diem .tab-ct-1 .bottom-meta {
  text-align: center;
  font-family: "SVN-GothamBold", sans-serif;
}
.blk-tich-diem .tab-ct-1 .bottom-meta span {
  color: #f4aa1c;
}
@media screen and (max-width: 768px) {
  .blk-tich-diem .tab-ct-1 .top-meta {
    margin: 0px 0px 5vw;
  }
  .blk-tich-diem .tab-ct-1 .top-meta .name {
    font-size: -webkit-calc(5.5vw + 5px);
    font-size: calc(5.5vw + 5px);
  }
  .blk-tich-diem .tab-ct-1 .top-meta .text-right .icon {
    width: 3.3vw;
  }
  .blk-tich-diem .tab-ct-1 .top-meta .text-right .text {
    padding-left: 0.9vw;
    font-size: -webkit-calc(2.2vw + 5px);
    font-size: calc(2.2vw + 5px);
  }
  .blk-tich-diem .tab-ct-1 .top-meta .text-right .text a {
    line-height: 1.2em;
  }
  .blk-tich-diem .tab-ct-1 .form-tich-diem .item {
    font-size: -webkit-calc(2.3vw + 5px);
    font-size: calc(2.3vw + 5px);
    width: 100%;
    margin: 0px 0px 4vw;
  }
  .blk-tich-diem .tab-ct-1 .form-tich-diem .item label {
    padding: 0.2vw 1.5vw 0.8vw 1.5vw;
    color: #FFF;
    border-radius: 0.7em;
    left: 3vw;
    font-size: -webkit-calc(2.3vw + 3px);
    font-size: calc(2.3vw + 3px);
    top: -42%;
  }
  .blk-tich-diem .tab-ct-1 .form-tich-diem .item .input-text {
    padding: 0px 3vw;
  }
  .blk-tich-diem .tab-ct-1 .bottom-meta {
    font-size: -webkit-calc(2.3vw + 5px);
    font-size: calc(2.3vw + 5px);
  }
}
.blk-tich-diem .tab-ct-2 {
  width: 100%;
}
.blk-tich-diem .tab-ct-2 .top-meta {
  width: 56%;
  margin: 0 auto 2vw auto;
  text-align: center;
}
.blk-tich-diem .tab-ct-2 .top-meta .point-number {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 10vw;
  height: 10vw;
}
.blk-tich-diem .tab-ct-2 .top-meta .point-number span {
  display: inline-block;
  text-align: center;
  line-height: 1.1em;
  position: absolute;
  left: 47%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "UTMBebas";
  font-size: 3vw;
  color: #FFF;
}
.blk-tich-diem .tab-ct-2 .top-meta .point-number img {
  width: 100%;
}
.blk-tich-diem .tab-ct-2 .top-meta .info span {
  font-size: 3.1vw;
  font-family: "UTMBebas";
}
.blk-tich-diem .tab-ct-2 .blk-scroll {
  max-height: 30vw;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 2vw;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .thumb {
  width: 42%;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .thumb img {
  width: 100%;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content {
  width: 58%;
  padding: 0px 0px 0px 2vw;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .title {
  color: #f4020d;
  margin: 0px 0px 0.4vw;
  line-height: 1.1em;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .info {
  margin: 0px 0px 0.5vw;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point {
  margin: 0px 0px 0.8vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point .more {
  display: none;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point strong {
  display: block;
  font-family: "UTMBebas";
  font-size: 1.7vw;
  line-height: 1em;
  font-weight: 400;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point span {
  line-height: 1.3em;
  padding: 0 0 0 0.5vw;
  color: #ff0000;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .smd-more a {
  background: #a7a7a7;
  color: #FFF;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .smd-more a.active {
  color: #FFF;
  background: #e1a832;
}
.blk-tich-diem .tab-ct-2 .blk-scroll .item .content .smd-more a.active:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .blk-tich-diem .tab-ct-2 {
    padding: 4vw 2vw 4vw 2.5vw;
  }
  .blk-tich-diem .tab-ct-2 .css-scrollbar .mCSB_scrollTools .mCSB_dragger_bar {
    width: 3px;
  }
  .blk-tich-diem .tab-ct-2 .top-meta {
    margin: 0 auto 4vw auto;
    width: 87%;
  }
  .blk-tich-diem .tab-ct-2 .top-meta .point-number {
    width: 18vw;
    height: 18vw;
  }
  .blk-tich-diem .tab-ct-2 .top-meta .info span {
    font-size: 7vw;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll {
    max-height: 60vw;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item {
    margin: 0px 0px 2.5vw;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .thumb {
    width: 51%;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content {
    width: 49%;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .title {
    font-size: -webkit-calc(3.1vw + 2px);
    font-size: calc(3.1vw + 2px);
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .info {
    font-size: -webkit-calc(2.3vw + 1px);
    font-size: calc(2.3vw + 1px);
    line-height: 1.1em;
    margin: 0px 0px 2.7vw;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point .more {
    background: #a7a7a7;
    color: #FFF;
    padding: 0.5vw 1.6vw 0.7vw 1.6vw;
    display: block;
    line-height: 1em;
    font-size: -webkit-calc(3vw + 1px);
    font-size: calc(3vw + 1px);
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point .more.active {
    background: #e1a832;
    color: #FFF;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point strong {
    font-size: 3.5vw;
    padding-right: 2.5vw;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .point span {
    font-size: 2.6vw;
    padding-left: 0.8vw;
  }
  .blk-tich-diem .tab-ct-2 .blk-scroll .item .content .smd-more {
    display: none;
  }
}
.blk-tich-diem .tab-ct-3 {
  padding: 4vw 5vw 1vw 5vw;
}
.blk-tich-diem .tab-ct-3 strong.caption {
  display: block;
  font-weight: 400;
  font-size: -webkit-calc(2.5vw + 2px);
  font-size: calc(2.5vw + 2px);
  margin: 0px 0px 0.7vw;
}
.blk-tich-diem .tab-ct-3 .item {
  margin: 0px 0px 2vw;
}
.blk-tich-diem .tab-ct-3 .item:last-child {
  margin: 0 0 0;
}
.blk-tich-diem .tab-ct-3 .item .md-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.blk-tich-diem .tab-ct-3 .item .md-row .step {
  font-family: "UTMBebas", sans-serif;
  color: #FFF;
  display: inline-block;
  width: 7%;
  margin-right: 2%;
}
.blk-tich-diem .tab-ct-3 .item .md-row .step span {
  font-size: 1.3vw;
  position: relative;
  display: inline-block;
  line-height: 1.1em;
  padding: 0px 0px 0.2vw 0.5vw;
  background: #f5aa19;
}
.blk-tich-diem .tab-ct-3 .item .md-row .step span:before {
  content: "";
  position: absolute;
  left: -webkit-calc(100% - 1px);
  left: calc(100% - 1px);
  top: 0px;
  width: 1.6vw;
  height: 100%;
  display: block;
  background: url(../images/diem-thanh-vien/arrow-right-yellow.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
.blk-tich-diem .tab-ct-3 .item .md-row .content {
  width: 89%;
}
.blk-tich-diem .tab-ct-3 .item .md-row .content.hl .text {
  width: 60%;
  display: inline-block;
  float: left;
}
.blk-tich-diem .tab-ct-3 .item .md-row .content.hl .qr-code {
  margin-top: -2%;
  width: 16%;
  display: inline-block;
  float: right;
}
.blk-tich-diem .tab-ct-3 .item .md-row .content.hl .qr-code img {
  width: 100%;
}
.blk-tich-diem .tab-ct-3 .item .md-row .content span {
  font-family: "SVN-GothamMedium";
}
.blk-tich-diem .tab-ct-3 .item .md-row .content a.link {
  color: #ff0000;
}
.blk-tich-diem .tab-ct-3 .item .md-row .content a.link:hover {
  color: #f7ba45;
}
@media screen and (max-width: 768px) {
  .blk-tich-diem .tab-ct-3 {
    font-size: -webkit-calc(1.7vw + 3px);
    font-size: calc(1.7vw + 3px);
  }
  .blk-tich-diem .tab-ct-3 strong.caption {
    font-size: -webkit-calc(3.5vw + 2px);
    font-size: calc(3.5vw + 2px);
  }
  .blk-tich-diem .tab-ct-3 .item {
    margin: 0px 0px 3.8vw;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row {
    margin: 0px 0px 2vw;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row.has-table {
    display: block;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row.has-table .smd-table {
    width: 100%;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row.has-table .step {
    display: none;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row.mg-mb {
    margin: 0px 0px 0vw;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row .step {
    width: 9%;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row .step span {
    line-height: 1em;
    font-size: 2.4vw;
    padding: 0.2vw 0.5px 0.6vw 1.5vw;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row .step span:before {
    width: 2.3vw;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row .smd-table {
    margin: 0;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row .content.hl .text {
    display: block;
    width: 100%;
  }
  .blk-tich-diem .tab-ct-3 .item .md-row .content.hl .qr-code {
    margin: 1vw 0 0;
    float: left;
    width: 13vw;
    display: block;
    min-width: 80px;
  }
}

.tab-ct-4 .top-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 1.5vw;
}
.tab-ct-4 .top-meta .name {
  font-family: "UTMBebas", sans-serif;
  font-size: 2.5vw;
  color: #000;
}
.tab-ct-4 .top-meta .text-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-ct-4 .top-meta .text-right a {
  display: block;
}
.tab-ct-4 .top-meta .text-right .icon {
  width: 1.2vw;
}
.tab-ct-4 .top-meta .text-right .icon img {
  width: 100%;
}
.tab-ct-4 .top-meta .text-right .text {
  padding-left: 0.3vw;
  font-family: "UTMBebas", sans-serif;
}
.tab-ct-4 .top-meta .text-right .text a {
  color: #7d7d7d;
}
@media screen and (max-width: 768px) {
  .tab-ct-4 .top-meta {
    margin: 0px 0px 5vw;
  }
  .tab-ct-4 .top-meta .name {
    font-size: -webkit-calc(5.5vw + 5px);
    font-size: calc(5.5vw + 5px);
  }
  .tab-ct-4 .top-meta .text-right .icon {
    width: 3.3vw;
  }
  .tab-ct-4 .top-meta .text-right .text {
    padding-left: 0.9vw;
    font-size: -webkit-calc(2.2vw + 5px);
    font-size: calc(2.2vw + 5px);
  }
  .tab-ct-4 .top-meta .text-right .text a {
    line-height: 1.2em;
  }
}

.table-htr {
  max-height: 30vw;
}
.table-htr table {
  margin: 0;
  clear: both;
}
.table-htr table thead th {
  font-size: -webkit-calc(1.8vw + 3px);
  font-size: calc(1.8vw + 3px);
  font-family: "UTMBebas";
}
@media screen and (max-width: 768px) {
  .table-htr {
    max-height: 60vw;
  }
  .table-htr.css-scrollbar .mCSB_scrollTools .mCSB_dragger_bar {
    width: 3px;
  }
  .table-htr table thead th {
    padding: 1.5vw 0.75vw;
    font-size: -webkit-calc(3.8vw + 1px);
    font-size: calc(3.8vw + 1px);
  }
  .table-htr table tbody td {
    padding: 0.7vw 0.2vw;
  }
}
