/* trang chu
 -----------------------------------------------------*/
.banner img {
  width: 100%;
}
.banner .text {
  position: absolute;
  z-index: 100;
  left: 54%;
  top: 80%;
}
.banner .text h4 {
  font-size: 7.8vw;
  line-height: 1em;
}
.banner .text .more {
  background: #000;
  color: #FFF;
  display: inline-block;
  padding: 0.1rem 1rem 0.2rem 1rem;
  line-height: 1.3em;
  font-size: 1.7vw;
}
.banner .text .more:hover {
  color: #f6aa1b;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media screen and (max-width: 768px) {
  .banner .text {
    left: 7.5%;
    top: 28%;
  }
  .banner .text .more {
    font-size: 4.6vw;
  }
  .banner.owl-theme .owl-dots button span {
    width: 9px;
    height: 9px;
  }
}

.home-blk2 {
  background: url(../images/bg-gray.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 1vw 0px 1.5vw;
}
.home-blk2 .gr-slider {
  margin: 0px 0px 0.5vw;
}
.home-blk2 .gr-slider .slide-news {
  float: left;
  width: 64%;
}
.home-blk2 .gr-slider .slide-news .text {
  position: absolute;
  left: 3%;
  bottom: 2vw;
}
.home-blk2 .gr-slider .slide-news .text h4 {
  font-size: 2vw;
  color: #FFF;
  line-height: 1.2em;
}
.home-blk2 .gr-slider .slide-news .text .new {
  background: #f4aa1c;
  color: #FFF;
  padding: 0.2vw 0.9vw 0.3vw 0.9vw;
  margin: 0px 0px 0.3vw;
  display: inline-block;
  font-size: 1.5vw;
}
.home-blk2 .gr-slider .slide-news.owl-carousel .owl-dots {
  left: 3%;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.home-blk2 .gr-slider .slide-news.owl-carousel .owl-dots span {
  background: #FFF;
  width: 8px;
  height: 8px;
  margin: 0px 4px;
}
.home-blk2 .gr-slider .slide-news.owl-carousel .owl-dots span:hover {
  background: #f4aa1c;
}
.home-blk2 .gr-slider .slide-news.owl-carousel .owl-dots.active span {
  background: #f4aa1c;
}
.home-blk2 .gr-slider .slider-star-guid {
  width: 35.5%;
  display: inline-block;
}
.home-blk2 .gr-slider .slider-star-guid #slider-1 {
  background: #FFF;
  padding: 0.5vw 0px;
}
.home-blk2 .gr-slider .slider-star-guid #slider-1 .item {
  padding: 0px 2vw;
  text-align: center;
}
.home-blk2 .gr-slider .slider-star-guid #slider-1 .item strong {
  font-size: 2vw;
  color: #f4aa1c;
  display: block;
  line-height: 1.2em;
  margin-top: 0.9vw;
  text-align: left;
  padding: 0px 0.8vw 0px 0.8vw;
}
.home-blk2 .gr-slider .slider-star-guid #slider-1 .owl-nav .owl-prev {
  left: 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
  background: url(../images/icon-prev-black.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
.home-blk2 .gr-slider .slider-star-guid #slider-1 .owl-nav .owl-next {
  right: 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
  background: url(../images/icon-next-black.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 {
  background: #ebebeb;
  padding: 0px 0px 0px 0.5vw;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar {
  max-height: 200px;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .mCSB_scrollTools .mCSB_draggerRail {
  background: none;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .mCSB_scrollTools .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.3);
  width: 6px;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .mCSB_inside > .mCSB_container {
  margin-right: 15px;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content {
  margin: 0px 0px 0.6vw;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .thumb {
  float: left;
  width: 36%;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .info {
  padding: 1vw 0px 0px 0.7vw;
  width: 60%;
  float: left;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .info a {
  color: #000;
}
.home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .info h3 {
  line-height: 1.2em;
}
.home-blk2 .smd-show-more {
  float: right;
}
@media screen and (min-width: 768px) {
  .home-blk2 .smd-line {
    margin: 0px 0px 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .home-blk2 {
    padding: 3vw 0px 2.5vw;
  }
  .home-blk2 .smd-line {
    padding: 0px 0px 2.5vw;
  }
  .home-blk2 .smd-line:before {
    left: 67%;
  }
  .home-blk2 .smd-line .img {
    margin: 0 auto;
    width: 28%;
  }
  .home-blk2 .gr-slider .slide-news {
    width: 100%;
  }
  .home-blk2 .gr-slider .slide-news .text {
    bottom: 6vw;
  }
  .home-blk2 .gr-slider .slide-news .text .new {
    font-size: 4.5vw;
    line-height: 1.3em;
    padding: 0 0.5vw;
  }
  .home-blk2 .gr-slider .slide-news .text h4 {
    font-size: 6.5vw;
  }
  .home-blk2 .gr-slider .slider-star-guid {
    background: #FFF;
    width: 100%;
  }
  .home-blk2 .gr-slider .slider-star-guid .smd-show-more a {
    font-size: -webkit-calc(3.6vw + 2px);
    font-size: calc(3.6vw + 2px);
  }
  .home-blk2 .gr-slider .slider-star-guid .smd-show-more a:before {
    width: 1.9vw;
    height: 2.3vw;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-1 {
    margin-left: 1vw;
    width: 65%;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-1 .item {
    padding: 0px 4vw;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-1 .item strong {
    font-size: 6vw;
    padding: 2.5vw 0.6vw;
    margin: 0;
    text-align: center;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-1 .owl-nav {
    margin: 0;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-1 .owl-nav .owl-next {
    width: 5.8vw;
    height: 5.8vw;
    right: 1vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-1 .owl-nav .owl-prev {
    width: 5.8vw;
    height: 5.8vw;
    left: 1vw;
    top: 47%;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-2 {
    padding: 0;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar {
    padding: 2vw 0vw 2vw 2vw;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content {
    margin: 0px 0px 3vw;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .thumb {
    width: 21%;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .info {
    width: 79%;
    padding: 2vw 0px 0px 2vw;
  }
  .home-blk2 .gr-slider .slider-star-guid #slider-2 .scrollbar .content .info h3 {
    font-size: 6vw;
  }
  .home-blk2 .smd-show-more {
    margin: 3.5vw 2vw 0px 0px;
  }
}

.home-blk3 {
  background: url(../images/bg-star.jpg) no-repeat right center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  padding: 0vw 0 3vw;
}
.home-blk3 .top-meta {
  padding: 2vw 0px 0px 2.8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.home-blk3 .top-meta .image-left {
  width: 17%;
}
.home-blk3 .top-meta .image-left img {
  width: 100%;
}
.home-blk3 .top-meta .text {
  padding-left: 2vw;
  font-size: 3vw;
  text-transform: uppercase;
}
.home-blk3 .slider-home-blk3 {
  margin: 0 0px 2vw;
}
.home-blk3 .slider-home-blk3 .owl-stage-outer {
  padding: 5vw 0;
}
.home-blk3 .slider-home-blk3 .owl-item {
  padding: 0vw 2vw;
  opacity: 0.5;
}
.home-blk3 .slider-home-blk3 .owl-item .img {
  padding-right: 10%;
  margin-bottom: 1vw;
}
.home-blk3 .slider-home-blk3 .owl-item .text {
  display: none;
}
.home-blk3 .slider-home-blk3 .owl-item .text strong {
  display: block;
  font-size: 1.2vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.2em;
}
.home-blk3 .slider-home-blk3 .owl-item .text .smd-more {
  display: none;
  display: table;
  margin: 0 auto;
}
.home-blk3 .slider-home-blk3 .owl-item.center {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
       -o-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 1;
}
.home-blk3 .slider-home-blk3 .owl-item.center .item img {
  width: 100%;
}
.home-blk3 .slider-home-blk3 .owl-item.center .text {
  display: block;
}
.home-blk3 .slider-home-blk3 .owl-nav .owl-next {
  position: absolute;
  right: 1.5%;
  top: 35%;
  margin: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/icon-next.png) no-repeat center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  outline: none;
}
.home-blk3 .slider-home-blk3 .owl-nav .owl-next span {
  display: none;
}
.home-blk3 .slider-home-blk3 .owl-nav .owl-prev {
  position: absolute;
  left: 2%;
  top: 35%;
  margin: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/icon-prev.png) no-repeat center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  outline: none;
}
.home-blk3 .slider-home-blk3 .owl-nav .owl-prev span {
  display: none;
}
@media screen and (max-width: 768px) {
  .home-blk3 {
    background: url(../images/bg-star-mb.jpg) no-repeat center;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    padding: 3vw 0px 9vw;
  }
  .home-blk3 .h-container {
    width: 100%;
  }
  .home-blk3 .top-meta {
    padding: 0 0 3vw;
    display: block;
  }
  .home-blk3 .top-meta .image-left {
    display: table;
    margin: 0 auto 2.5vw auto;
    clear: both;
    width: 27.3%;
  }
  .home-blk3 .top-meta .text {
    display: table;
    margin: 0 auto;
    font-size: 6vw;
  }
  .home-blk3 .slider-home-blk3 .owl-stage-outer {
    padding: 13vw 0 11vw 0;
  }
  .home-blk3 .slider-home-blk3 .owl-item .img {
    margin-bottom: 3vw;
  }
  .home-blk3 .slider-home-blk3 .owl-item .text strong {
    font-size: 3.5vw;
  }
  .home-blk3 .slider-home-blk3 .owl-item .text .smd-more {
    font-size: 4vw;
    padding: 0.2vw 2vw 0.6vw 2vw;
  }
  .home-blk3 .slider-home-blk3 .owl-nav .owl-next {
    right: 4%;
    width: 1.4rem;
    height: 1.4rem;
  }
  .home-blk3 .slider-home-blk3 .owl-nav .owl-prev {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.home-blk4 {
  padding: 2vw 0px 3vw;
  background: url(../images/gr-spr.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}
.home-blk4 .fl-left {
  width: 45%;
}
.home-blk4 .fl-left .img {
  display: table;
  margin: 0 auto 1.7vw auto;
  width: 70%;
  text-align: center;
}
.home-blk4 .fl-left .img .star-shop {
  width: 37%;
  margin: 0 auto 2vw auto;
}
.home-blk4 .fl-left .img .mixology {
  width: 70%;
  margin: 0 auto;
}
.home-blk4 .fl-left .img img {
  width: 100%;
}
.home-blk4 .fl-left .info {
  text-align: center;
}
.home-blk4 .fl-left .info p {
  margin-bottom: 1.5vw;
}
.home-blk4 .fl-left .info p strong {
  font-family: "SVN-GothamMedium";
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .home-blk4 {
    background: url(../images/gr-spr-mb.jpg) no-repeat top center #ededee;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
    padding: 4vw 0px 3vw;
  }
  .home-blk4 .fl-left {
    width: 100%;
  }
  .home-blk4 .fl-left .img {
    width: 100%;
    margin-bottom: 85vw;
  }
  .home-blk4 .fl-left .img .star-shop {
    width: 25%;
    margin: 0 auto 2vw auto;
  }
  .home-blk4 .fl-left .img .mixology {
    width: 56%;
    margin: 0 auto;
  }
  .home-blk4 .fl-left .info .smd-more {
    margin-top: 3vw;
  }
  .home-blk4 .fl-left .info .smd-more a {
    color: #FFF;
    background: #000;
  }
  .home-blk4 .fl-left .info p strong {
    font-family: "SVN-GothamMedium";
    font-weight: 500;
  }
}

.home-blk-6 {
  position: relative;
  z-index: 2;
  padding: 0.5vw 0 3vw;
  background: #2a2a2a;
}
@media screen and (min-width: 768px) {
  .home-blk-6 .smd-show-more a {
    font-size: 1.5vw;
  }
  .home-blk-6 .smd-show-more a:before {
    height: 0.9vw;
  }
}
.home-blk-6 .smd-line {
  margin-bottom: 1vw;
}
.home-blk-6 .smd-line:before {
  top: 58%;
}
.home-blk-6 .left-ct {
  width: 66.5%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}
.home-blk-6 .main-star-tv-home {
  float: left;
  width: 32.5%;
  display: inline-block;
}
.home-blk-6 .smd-show-more {
  float: right;
}
@media screen and (max-width: 768px) {
  .home-blk-6 {
    padding: 3% 0px 4%;
  }
  .home-blk-6 .h-container {
    width: 100%;
  }
  .home-blk-6 .smd-line {
    margin-bottom: 4%;
    padding-left: 6%;
  }
  .home-blk-6 .smd-line .img {
    width: 29%;
  }
  .home-blk-6 .smd-line:before {
    width: 38%;
    left: 36%;
    background: #848484;
  }
  .home-blk-6 .left-ct {
    width: 100%;
  }
  .home-blk-6 .main-star-tv-home {
    width: 100%;
  }
}

.main-star-tv-home {
  position: relative;
}

.main-star-tv-home:before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.sapporo-header-image {
  position: relative;
}

.sapporo-header-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.headline_star_tv {
  background: #ffe9b6;
  display: table;
  width: 100%;
}

.headline_star_tv .blk-inner {
  display: table;
  margin: 0 auto;
}

.headline_star_tv .img-icon {
  display: table-cell;
  vertical-align: middle;
}

.headline_star_tv .text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.headline_star_tv .text .title {
  font-size: 83px;
  white-space: nowrap;
  font-weight: bold;
  font-family: "UTM Bebas";
  color: #de8b36;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  .headline_star_tv .text {
    padding-left: 27px;
  }
  .headline_star_tv .text .title {
    font-size: 60px;
  }
  .name-lchk {
    font-size: 14.5px;
  }
  .list-header-img {
    width: 130px;
  }
  .headline_star_tv {
    padding: 10px 10px;
  }
}
.hytPlayerWrap {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}

.hytPlayerWrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.block-three-videos {
  margin-bottom: 55px;
}
.block-three-videos .thumb-nail {
  margin: 0px 0px 0vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}
.block-three-videos .thumb-nail:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-transition: all 0.8s;
       -o-transition: all 0.8s;
          transition: all 0.8s;
}

.block-three-videos .blk-col.active .thumb-nail:before {
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.block-three-videos .thumb-nail:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.block-three-videos .thumb-nail img {
  width: 100%;
  cursor: pointer;
}

.block-three-videos .blk-select {
  display: table;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .block-three-videos {
    padding: 0px 1.5vw;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .block-three-videos .blk-col {
    width: 50%;
    margin-bottom: 0.5vw;
    padding: 0 1vw;
  }
  .block-three-videos .smd-show-more {
    display: table;
    margin: 0.8vw auto 0 auto;
  }
  .block-three-videos .smd-show-more a {
    color: #FFF;
  }
  .block-three-videos .smd-show-more a:before {
    background: url(../images/arrow-white.png) no-repeat center center;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
  }
}
.block-three-videos .ui.dropdown > .text span {
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: -webkit-calc(100% - 15px);
  max-width: calc(100% - 15px);
}

.block-three-videos .ui.dropdown .menu .selected.item {
  background: #ffc60f;
}

.blk-select .ui.selection.dropdown .menu > .item {
  text-align: center;
  background: #ffffff;
  font-size: 1.8vw;
}
.blk-select .ui.selection.dropdown .menu > .item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.blk-select .ui.selection.dropdown > .dropdown.icon {
  line-height: 1em;
  left: 2%;
  right: auto;
}
.blk-select .ui.dropdown > .text {
  font-size: 1.8vw;
  display: block;
}
.blk-select .ui.dropdown .menu .selected.item span {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  min-width: 50%;
  max-width: -webkit-calc(100% - 0px);
  max-width: calc(100% - 0px);
  padding: 0px 22px;
}
.blk-select .ui.dropdown .menu .selected.item span:before {
  content: "";
  width: 20px;
  height: 15px;
  display: block;
  background: url(../images/icon-tick-gray.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
}
.blk-select .ui.selection.dropdown .menu > .item {
  padding: 0.78571429rem 15px !important;
}
.blk-select .ui.upward.selection.dropdown .menu {
  border: none;
}
.blk-select .ui.dropdown > .dropdown.icon:before {
  font-size: -webkit-calc(0.8vw + 4px);
  font-size: calc(0.8vw + 4px);
}
.blk-select .ui.selection.dropdown {
  background: #f4aa1c;
  min-width: 100px;
  width: 100%;
  max-width: 100%;
  display: table;
  margin: 0 auto;
  padding: 0.7vw 0px 0px 2.5vw;
  min-height: 2.7vw;
  border: none;
  border-radius: 6px;
  text-align: left;
  position: relative;
  font-family: "UTMBebas";
}
.blk-select .blk-col.active .ui.selection.dropdown {
  display: block;
}
.blk-select .ui.dropdown:not(.button) > .default.text {
  font-size: 1.8vw;
  color: #464646;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .blk-select {
    margin-bottom: 1.3vw;
  }
  .blk-select .ui.selection.dropdown > .dropdown.icon {
    line-height: 1.3em;
  }
  .blk-select .ui.selection.dropdown > .dropdown.icon .menu {
    display: none !important;
  }
  .blk-select .ui.selection.dropdown .menu > .item {
    font-size: -webkit-calc(3vw + 10px);
    font-size: calc(3vw + 10px);
  }
  .blk-select .ui.selection.dropdown {
    overflow: hidden;
    padding: 2vw 0px 0vw 0px;
    border-radius: 0px;
    min-height: 8vw;
  }
  .blk-select .ui.selection.dropdown .menu {
    border-radius: 0px;
  }
  .blk-select .ui.selection.dropdown .text {
    padding-left: 6vw;
    font-size: -webkit-calc(3vw + 10px);
    font-size: calc(3vw + 10px);
  }
  .blk-select .ui.selection.dropdown .default.text {
    padding-left: 6vw;
    font-size: -webkit-calc(3vw + 10px);
    font-size: calc(3vw + 10px);
  }
  .blk-select .ui.dropdown .menu .selected.item span {
    padding: 0px;
  }
  .blk-select .ui.selection.dropdown .menu {
    -webkit-animation-duration: 0s !important;
         -o-animation-duration: 0s !important;
            animation-duration: 0s !important;
    max-height: 9.01428571rem;
    position: initial !important;
    height: auto !important;
    margin-top: 3vw;
    padding: 0.5vw 0px 3vw 0px;
  }
  .blk-select .ui.selection.dropdown .menu .item {
    text-align: left;
    font-size: 2vw;
    font-size: -webkit-calc(2.5vw + 7px);
    font-size: calc(2.5vw + 7px);
    padding: 1vw 2vw 1vw 6vw !important;
  }
  .blk-select .ui.dropdown > .dropdown.icon {
    height: 100%;
  }
  .blk-select .ui.dropdown > .dropdown.icon:before {
    font-size: -webkit-calc(0.8vw + 8px);
    font-size: calc(0.8vw + 8px);
  }
}

.block-three-videos .blk-col {
  margin-bottom: 0.6vw;
}

@media screen and (max-width: 768px) {
  .block-three-videos .thumb-nail {
    margin: 0px 0px 0px;
  }
  .block-three-videos .ui.selection.dropdown {
    width: 100%;
    border-radius: 4px;
  }
}
.video-star-tv {
  opacity: 0;
  position: absolute;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .video-star-tv {
    margin-bottom: 1.3vw;
  }
}

.video-star-tv.active-video {
  opacity: 1;
  position: relative;
  height: auto;
  overflow: inherit;
  visibility: visible;
}

.delivery-icon-star-tv {
  position: relative;
  display: inline-block;
  right: 0px;
  width: 180px;
  margin: 0 auto 0px auto;
  bottom: 0px;
}

.hytPlayerWrap {
  position: relative;
  z-index: 20000;
}

.hytPlayerWrap.ended:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: -webkit-calc(100% - 43px);
  height: calc(100% - 43px);
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 70px 70px;
          background-size: 70px 70px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/pointed-edge-web-navigation/107/redo-512.png");
}

.hytPlayerWrap.paused:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: -webkit-calc(100% - 43px);
  height: calc(100% - 43px);
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 70px 70px;
          background-size: 70px 70px;
  background-image: url("https://i.ya-webdesign.com/images/play-button-png-16.png");
}

.delivery-icon a {
  display: inline-block;
}

.icon-star-shop {
  position: fixed;
  right: 0%;
  bottom: 5%;
  z-index: 100;
  width: 10.7%;
}
.icon-star-shop img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .icon-star-shop {
    width: 26%;
    bottom: 25%;
  }
}
