/* star-guide
 -----------------------------------------------------*/
.home-blk-6 {
  position: relative;
  z-index: 2;
  padding: 0.5vw 0 3vw;
  background: #2a2a2a;
}
.home-blk-6 .smd-line {
  margin-bottom: 1vw;
}
.home-blk-6 .smd-line:before {
  top: 58%;
}
.home-blk-6 .left-ct {
  width: 66.5%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}
.home-blk-6 .main-star-tv-home {
  float: left;
  width: 32.5%;
  display: inline-block;
}
.home-blk-6 .smd-show-more {
  float: right;
}
@media screen and (max-width: 768px) {
  .home-blk-6 {
    padding: 3% 0px 4%;
  }
  .home-blk-6 .h-container {
    width: 100%;
  }
  .home-blk-6 .smd-line {
    margin-bottom: 4%;
    padding-left: 6%;
  }
  .home-blk-6 .smd-line .img {
    width: 29%;
  }
  .home-blk-6 .smd-line:before {
    width: 38%;
    left: 36%;
    background: #848484;
  }
  .home-blk-6 .left-ct {
    width: 100%;
  }
  .home-blk-6 .main-star-tv-home {
    width: 100%;
  }
}

.main-star-tv-home {
  position: relative;
}

.main-star-tv-home:before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.sapporo-header-image {
  position: relative;
}

.sapporo-header-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.headline_star_tv {
  background: #ffe9b6;
  display: table;
  width: 100%;
}

.headline_star_tv .blk-inner {
  display: table;
  margin: 0 auto;
}

.headline_star_tv .img-icon {
  display: table-cell;
  vertical-align: middle;
}

.headline_star_tv .text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.headline_star_tv .text .title {
  font-size: 83px;
  white-space: nowrap;
  font-weight: bold;
  font-family: "UTM Bebas";
  color: #de8b36;
  line-height: 1.2em;
}

@media screen and (max-width: 768px) {
  .headline_star_tv .text {
    padding-left: 27px;
  }
  .headline_star_tv .text .title {
    font-size: 60px;
  }
  .name-lchk {
    font-size: 14.5px;
  }
  .list-header-img {
    width: 130px;
  }
  .headline_star_tv {
    padding: 10px 10px;
  }
}
.hytPlayerWrap {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}

.hytPlayerWrap iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.block-three-videos {
  margin-bottom: 55px;
}
.block-three-videos .thumb-nail {
  margin: 0px 0px 0vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}
.block-three-videos .thumb-nail:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-transition: all 0.8s;
       -o-transition: all 0.8s;
          transition: all 0.8s;
}

.block-three-videos .blk-col.active .thumb-nail:before {
  opacity: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.block-three-videos .thumb-nail:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.block-three-videos .thumb-nail img {
  width: 100%;
  cursor: pointer;
}

.block-three-videos .blk-select {
  display: table;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .block-three-videos {
    padding: 0px 1.5vw;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .block-three-videos .blk-col {
    width: 50%;
    margin-bottom: 0.5vw;
    padding: 0 1vw;
  }
  .block-three-videos .smd-show-more {
    display: table;
    margin: 0.8vw auto 0 auto;
  }
  .block-three-videos .smd-show-more a {
    color: #FFF;
  }
  .block-three-videos .smd-show-more a:before {
    background: url(../images/arrow-white.png) no-repeat center center;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
  }
}
.block-three-videos .ui.dropdown > .text span {
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: -webkit-calc(100% - 15px);
  max-width: calc(100% - 15px);
}

.block-three-videos .ui.dropdown .menu .selected.item {
  background: #ffc60f;
}

.blk-select .ui.selection.dropdown .menu > .item {
  text-align: center;
  background: #ffffff;
  font-size: 18px;
}
.blk-select .ui.selection.dropdown .menu > .item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.blk-select .ui.selection.dropdown > .dropdown.icon {
  line-height: 1em;
  left: 2%;
  right: auto;
}
.blk-select .ui.dropdown > .text {
  font-size: 18px;
  display: block;
}
.blk-select .ui.dropdown .menu .selected.item span {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  min-width: 50%;
  max-width: -webkit-calc(100% - 0px);
  max-width: calc(100% - 0px);
  padding: 0px 22px;
}
.blk-select .ui.dropdown .menu .selected.item span:before {
  content: "";
  width: 20px;
  height: 15px;
  display: block;
  background: url(../images/icon-tick-gray.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
}
.blk-select .ui.selection.dropdown .menu > .item {
  padding: 0.78571429rem 15px !important;
}
.blk-select .ui.upward.selection.dropdown .menu {
  border: none;
}
.blk-select .ui.dropdown > .dropdown.icon:before {
  font-size: -webkit-calc(0.8vw + 4px);
  font-size: calc(0.8vw + 4px);
}
.blk-select .ui.selection.dropdown {
  background: #f4aa1c;
  min-width: 100px;
  width: 100%;
  max-width: 100%;
  display: table;
  margin: 0 auto;
  padding: 0.7vw 0px 0px 2vw;
  min-height: 2.5vw;
  border: none;
  border-radius: 6px;
  text-align: left;
  position: relative;
  font-family: "UTMBebas";
}
.blk-select .blk-col.active .ui.selection.dropdown {
  display: block;
}
.blk-select .ui.dropdown:not(.button) > .default.text {
  font-size: 1.2rem;
  color: #464646;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .blk-select {
    margin-bottom: 1.3vw;
  }
  .blk-select .ui.selection.dropdown > .dropdown.icon {
    line-height: 1.3em;
  }
  .blk-select .ui.selection.dropdown > .dropdown.icon .menu {
    display: none !important;
  }
  .blk-select .ui.selection.dropdown {
    padding: 2vw 0px 2.5vw 0px;
    border-radius: 0px;
    width: 95%;
  }
  .blk-select .ui.selection.dropdown .menu {
    border-radius: 0px;
  }
  .blk-select .ui.selection.dropdown .text {
    padding-left: 6vw;
  }
  .blk-select .ui.selection.dropdown .default.text {
    padding-left: 6vw;
    font-size: -webkit-calc(3vw + 10px);
    font-size: calc(3vw + 10px);
  }
  .blk-select .ui.dropdown .menu .selected.item span {
    padding: 0px;
  }
  .blk-select .ui.selection.dropdown .menu {
    max-height: 9.01428571rem;
    padding: 0.5vw 0px 3vw 0px;
  }
  .blk-select .ui.selection.dropdown .menu .item {
    text-align: left;
    font-size: 2vw;
    font-size: -webkit-calc(2.5vw + 7px);
    font-size: calc(2.5vw + 7px);
    padding: 1vw 2vw 1vw 6vw !important;
  }
}

.block-three-videos .blk-col {
  margin-bottom: 0.6vw;
}

@media screen and (max-width: 768px) {
  .block-three-videos .thumb-nail {
    margin: 0px 0px 0px;
  }
  .block-three-videos .ui.selection.dropdown {
    width: 100%;
    border-radius: 4px;
  }
}
.video-star-tv {
  opacity: 0;
  position: absolute;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .video-star-tv {
    margin-bottom: 1.3vw;
  }
}

.video-star-tv.active-video {
  opacity: 1;
  position: relative;
  height: auto;
  overflow: inherit;
  visibility: visible;
}

.delivery-icon-star-tv {
  position: relative;
  display: inline-block;
  right: 0px;
  width: 180px;
  margin: 0 auto 0px auto;
  bottom: 0px;
}

.hytPlayerWrap {
  position: relative;
  z-index: 20000;
}

.hytPlayerWrap.ended:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: -webkit-calc(100% - 43px);
  height: calc(100% - 43px);
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 70px 70px;
          background-size: 70px 70px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/pointed-edge-web-navigation/107/redo-512.png");
}

.hytPlayerWrap.paused:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: -webkit-calc(100% - 43px);
  height: calc(100% - 43px);
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 70px 70px;
          background-size: 70px 70px;
  background-image: url("https://i.ya-webdesign.com/images/play-button-png-16.png");
}

.delivery-icon a {
  display: inline-block;
}

.star-guide-content {
  background: url(../images/star-guide/bg-main-star-guide.jpg) repeat-x;
  padding: 0.2vw 0 2vw;
}
.star-guide-content .top-link {
  background: #FFF;
}
.star-guide-content .top-link ul li {
  display: inline-block;
  margin-right: 0.7rem;
}
.star-guide-content .top-link ul li a {
  position: relative;
  display: block;
  padding: 0.7vw 3vw 0.3vw 0;
  font-family: "SVN-Poppins-Bold";
}
.star-guide-content .top-link ul li a.active:before {
  background: #f4aa1c;
}
.star-guide-content .top-link ul li a:before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background: #000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
}
.star-guide-content .top-link ul li a:hover:before {
  background: #f4aa1c;
}
.star-guide-content .blk-news {
  padding: 2vw 0 1vw 0;
}
.star-guide-content .blk-news .md-row {
  margin: 0px 0px 1.7vw;
}
.star-guide-content .blk-news .md-row .thumb {
  width: 45%;
  display: inline-block;
  float: left;
  margin-right: 2%;
  overflow: hidden;
}
.star-guide-content .blk-news .md-row .thumb:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.8s;
       -o-transition: all 0.8s;
          transition: all 0.8s;
}
.star-guide-content .blk-news .md-row .thumb a {
  display: block;
}
.star-guide-content .blk-news .md-row .thumb img {
  width: 100%;
}
.star-guide-content .blk-news .md-row .content {
  width: 39%;
  display: inline-block;
}
.star-guide-content .blk-news .md-row .content a:hover .info {
  color: #000;
}
.star-guide-content .blk-news .md-row .content .hot-post {
  margin: 0 0 0.5vw;
  display: table;
  background: #FFF;
  padding: 0vw 0.5vw 0.2vw 0.5vw;
}
.star-guide-content .blk-news .md-row .content .hot-post .icon {
  display: table-cell;
  width: 1.6vw;
  vertical-align: middle;
}
.star-guide-content .blk-news .md-row .content .hot-post .icon img {
  width: 100%;
}
.star-guide-content .blk-news .md-row .content .hot-post .text {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2em;
  padding-left: 0.3vw;
}
.star-guide-content .blk-news .md-row .content .title {
  margin: 0px 0px 0.8vw;
}
.star-guide-content .blk-news .md-row .content .title h3 {
  font-size: -webkit-calc(1.7vw + 5px);
  font-size: calc(1.7vw + 5px);
  line-height: 1.1em;
}
.star-guide-content .blk-news .md-row .content .info {
  font-size: -webkit-calc(1vw + 1px);
  font-size: calc(1vw + 1px);
}
.star-guide-content .blk-three-col .top-title {
  margin: 0px 0px 2vw;
  padding: 0 0 0 8%;
  position: relative;
}
.star-guide-content .blk-three-col .top-title strong {
  display: inline-block;
  font-size: 1.7vw;
  line-height: 1em;
}
.star-guide-content .blk-three-col .top-title:before {
  content: "";
  width: 6%;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}
.star-guide-content .blk-three-col .top-title:after {
  content: "";
  width: 80%;
  height: 3px;
  background: #000;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}
.star-guide-content .blk-three-col .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.star-guide-content .blk-three-col .content .item {
  margin: 0 0 2vw;
  width: 31%;
}
.star-guide-content .blk-three-col .content .item .thumb {
  margin: 0px 0px 1vw;
  overflow: hidden;
}
.star-guide-content .blk-three-col .content .item .thumb img {
  width: 100%;
}
.star-guide-content .blk-three-col .content .item .thumb:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.8s;
       -o-transition: all 0.8s;
          transition: all 0.8s;
}
.star-guide-content .blk-three-col .content .item .info h3 {
  font-size: -webkit-calc(1.2vw + 5px);
  font-size: calc(1.2vw + 5px);
  font-family: "UTMBebas";
  line-height: 1.2em;
}
.star-guide-content .blk-tan-huong {
  padding: 1vw 0.5vw 1.4vw 0.5vw;
  background: #FFF;
  margin-left: -0.5vw;
  margin-right: -0.5vw;
}
.star-guide-content .blk-tan-huong ul.nav-tabs {
  border: none;
  margin: 0px 0px 1vw;
}
.star-guide-content .blk-tan-huong ul.nav-tabs li {
  margin-right: 3vw;
}
.star-guide-content .blk-tan-huong ul.nav-tabs li a {
  font-size: -webkit-calc(1.6vw + 0px);
  font-size: calc(1.6vw + 0px);
  font-family: "SVN-Poppins-Bold";
  border: none;
  position: relative;
  padding: 0px 0px 0.5vw 0px;
  color: #000;
}
.star-guide-content .blk-tan-huong ul.nav-tabs li a:hover {
  color: #f4aa1c;
}
.star-guide-content .blk-tan-huong ul.nav-tabs li a.active:before {
  display: block;
}
.star-guide-content .blk-tan-huong ul.nav-tabs li a:before {
  display: none;
  content: "";
  width: 90%;
  height: 2px;
  background: #f4aa1c;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.star-guide-content .blk-tan-huong .smd-show-more {
  float: right;
}
@media screen and (max-width: 768px) {
  .star-guide-content {
    padding: 0.2vw 0 4vw;
  }
  .star-guide-content .top-link {
    font-size: -webkit-calc(2.7vw + 7px);
    font-size: calc(2.7vw + 7px);
  }
  .star-guide-content .top-link ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .star-guide-content .top-link ul li {
    margin-right: 3.5vw;
  }
  .star-guide-content .top-link ul li:last-child {
    margin-right: 0px;
  }
  .star-guide-content .top-link ul li a {
    white-space: nowrap;
    padding: 1.8vw 1vw 1.3vw 1vw;
    font-family: "SVN-Poppins-Bold";
  }
  .star-guide-content .top-link ul li a:before {
    height: 3px;
  }
  .star-guide-content .blk-news {
    padding: 4vw 0 1vw 0;
  }
  .star-guide-content .blk-news .md-row {
    margin: 0px 0px 5.6vw;
  }
  .star-guide-content .blk-news .md-row .thumb {
    width: 100%;
    margin: 0 0 2vw;
  }
  .star-guide-content .blk-news .md-row .content {
    width: 100%;
  }
  .star-guide-content .blk-news .md-row .content .hot-post {
    padding: 0.2vw 2vw 0.5vw 2vw;
    margin: 0 0 1vw;
  }
  .star-guide-content .blk-news .md-row .content .hot-post .icon {
    width: 5vw;
  }
  .star-guide-content .blk-news .md-row .content .hot-post .text {
    padding-left: 1vw;
  }
  .star-guide-content .blk-news .md-row .content .title h3 {
    font-size: -webkit-calc(5.7vw + 5px);
    font-size: calc(5.7vw + 5px);
  }
  .star-guide-content .blk-news .md-row .content .info {
    font-size: -webkit-calc(1.7vw + 7px);
    font-size: calc(1.7vw + 7px);
  }
  .star-guide-content .blk-three-col {
    margin: 0px 0px 1vw;
  }
  .star-guide-content .blk-three-col .top-title {
    margin: 0px 0px 3vw;
    padding: 0 0 0 10%;
  }
  .star-guide-content .blk-three-col .top-title strong {
    font-size: 5.5vw;
  }
  .star-guide-content .blk-three-col .top-title:before {
    height: 2px;
    width: 8%;
  }
  .star-guide-content .blk-three-col .top-title:after {
    width: 63%;
    height: 2px;
  }
  .star-guide-content .blk-three-col .content .item {
    margin: 0 0 3vw;
    width: 48%;
  }
  .star-guide-content .blk-three-col .content .item .info h3 {
    font-size: -webkit-calc(2.5vw + 7px);
    font-size: calc(2.5vw + 7px);
  }
  .star-guide-content .blk-three-col .smd-show-more.black a {
    color: #555;
  }
  .star-guide-content .blk-three-col .smd-show-more.black a:before {
    background: url(../images/arrow-right-gray.png) no-repeat center center;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
  }
  .star-guide-content .blk-tan-huong {
    padding: 1vw 2vw 2vw 2vw;
  }
  .star-guide-content .blk-tan-huong ul.nav-tabs {
    margin: 1vw 0px 4vw;
  }
  .star-guide-content .blk-tan-huong ul.nav-tabs li a {
    font-size: -webkit-calc(2.6vw + 7px);
    font-size: calc(2.6vw + 7px);
    padding: 1.8vw 0vw 1.3vw 0vw;
  }
  .star-guide-content .blk-tan-huong ul.nav-tabs li a:before {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .star-guide-content {
    padding: 0.2vw 0 4vw;
  }
  .star-guide-content .top-link {
    font-size: -webkit-calc(3.4vw + 4px);
    font-size: calc(3.4vw + 4px);
  }
  .star-guide-content .top-link ul li {
    margin-right: 3.5vw;
  }
  .star-guide-content .top-link ul li:last-child {
    margin-right: 0px;
  }
  .star-guide-content .top-link ul li a {
    padding: 1.8vw 1vw 1.2vw 1vw;
  }
  .star-guide-content .top-link ul li a:before {
    height: 2px;
  }
}
@media screen and (max-width: 300px) {
  .star-guide-content .blk-tan-huong ul.nav-tabs li a {
    font-size: -webkit-calc(2.8vw + 5px);
    font-size: calc(2.8vw + 5px);
  }
}
